nav {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .nav-left {
        margin-top: 20px;
    }
    .nav-right {
      display: flex;
      justify-content: space-between;
      ul {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
      }
      ul:hover {
        cursor: pointer;
      }
    }
  }