nav {
  padding-left: 20px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .nav-left {
      .logo {
        width: 166px;
      }
        margin-top: 20px;
    }
    .nav-right {
      padding-right: 20px;
      display: flex;
      justify-content: space-between;
      ul {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
      }
      ul:hover {
        cursor: pointer;
      }
    }
  }

@media (max-width: 555px ) {
  nav {
    justify-content: space-around;
    .nav-left {
      .logo{
        width: 90px;
      }
      

     
    }
    .nav-right {
      padding-right: 10px;
      ul {
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }

}