.section-one {
    padding-top: 50px;

    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .section-one-left {
        padding-top: 50px;
        max-width: 50%;
        padding-right: 20px;
        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 35px;
            line-height: 50px;
            color: hsl(243, 87%, 12%);
        }
        p {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: hsl(243, 87%, 12%);
        }
        input {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            min-width: 350px;
            padding: 10px;
            border-radius: 5px;
            outline: none;
            border: 1px solid hsl(238, 22%, 44%);
            box-shadow: 3px 9px 10px rgba($color: #000000, $alpha: .10);
        }
        button {
            margin-left: 6px;
            border-radius: 5px;
            border: none;
            outline: none;
            min-width: 150px;
            padding: 10px;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            background-color: hsl(224, 93%, 58%);
            box-shadow: 3px 9px 10px rgba($color: #000000, $alpha: .10);
        }
        button:hover {
            background-color: hsl(238, 22%, 44%);
            cursor: pointer;
        }
    }
    .section-one-right {
        max-width: 50%;
        img {
            max-width: 600px;
            height: auto;
        }
    }
}
